root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-headings: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
  --maxPrimaryPageWidth: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
::selection {
  background: var(--color-primary);
  color: #fff;
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  background: rgb(12, 12, 12);
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.09),
    rgba(255, 255, 255, 0.09)
  );
  color: white;
}

h1,
h2,
h3 {
  color: var(--color-headings);
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 1.5em;
  margin: 0 0 4px 0;
  font-weight: 600;
}

h3 {
  font-size: 2.5rem;
  font-weight: 600;
}

p {
  margin-top: 0;
}

a {
  color: #eee;
  text-decoration: none;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding: 0;
}
.movie--wraper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

.movie--content {
  width: 100%;
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.movie--column {
  width: 100%;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding-left: 40px;
  padding-right: 40px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  position: relative;
  top: 0;
  left: 0;
}

.movie--container {
  width: 100%;

  min-height: 355px;

  min-height: 0;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-wrap: wrap;
}
.movie--card {
  margin-left: 40px;
  width: 150px;
  min-width: 150px;
  background: transparent;
  border: none;
  box-shadow: none;
  margin-top: 0;
  overflow: visible;
  position: relative;
  top: 0;
  left: 0;
  display: flex;

  flex-wrap: wrap;
  align-content: flex-start;
  margin-top: 30px;
}
.image {
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  width: 100%;
  min-height: calc(150px * 1.5);
  height: calc(150px * 1.5);
  overflow: hidden;
  border-radius: 8px;
}

.image--wraper {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
}

.movie--img {
  display: inline-block;
  width: 100%;
  height: 100%;
  outline: none;
}

.movie__content {
  width: 100%;
  padding: 26px 10px 12px 10px;
  position: relative;
  white-space: normal;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 0;
}
.title {
  background: var(--color-primary);
  color: #aaa;
}

.btn {
  border-radius: 40px;
  border: 0;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 600;
  margin-left: 3rem;
  outline: 0;

  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn .icon {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  vertical-align: middle;
}

.btn--primary {
  background: var(--color-primary);
  color: #aaa;
}

.btn--primary:hover {
  color: #ddd;
}

.btn--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.btn--secondary:hover {
  background: #05cdf0;
}

.btn--accent {
  background: var(--color-accent);
  color: #fff;
}

.btn--accent:hover {
  background: #ec3000;
}

.btn--outline {
  background: #fff;
  color: var(--color-headings);
  border: 2px solid var(--color-headings);
}

.btn--outline:hover {
  background: var(--color-headings);
  color: #fff;
}

.btn--stretched {
  padding-left: 6rem;
  padding-right: 6rem;
}

.btn--block {
  width: 100%;
  display: inline-block;
}

@media screen and (min-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}

.rating {
  position: absolute;
  top: -19px;
  left: 10px;
  width: 44px;
  height: 44px;
  display: inline-block;
  transition: transform 0.2s;
  transform: scale(1);
  white-space: normal;
}

.movie--rating {
  margin-right: 0;
  width: 44px;
  height: 44px;
  padding: 2px;
  display: inline-block;
  border-radius: 50%;
  background-color: #086582;
}

.movie--score {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.user--rating {
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  padding-top: 1px;
  padding-left: 1px;
  font-size: 0.6em;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.movie--title {
  font-size: 1em;
  margin: 0;
  width: 100%;
  word-wrap: normal;
  overflow-wrap: break-word;
  margin-top: 2rem;
  color: #fff;
}

.movie--date {
  font-size: 1em;
  margin: 0;
  margin-top: 1rem;
  padding: 0;
}
